FOURBYTES_POSTGRES_HOST="localhost"
FOURBYTES_POSTGRES_DB="sourcify"
FOURBYTES_POSTGRES_USER="sourcify"
FOURBYTES_POSTGRES_PASSWORD="sourcify"
FOURBYTES_POSTGRES_PORT=5432
FOURBYTES_POSTGRES_MAX_CONNECTIONS=20
FOURBYTES_POSTGRES_SCHEMA="public"
PORT=4444
NODE_ENV=development # production for JSON logging